apiVersion: kubedl.io/v1alpha1
kind: Cron
metadata:
  labels:
    app.kubernetes.io/name: cron-operator
    app.kubernetes.io/managed-by: kustomize
  name: cron-sample
spec:
  # TODO(user): Add fields here
